.home {
  position: relative;
  background-image: url('../assets/homeImage.png'); /* Ruta a la imagen */
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6); /* Superposición con un poco de color */
  z-index: 1;
}

.home > * {
  position: relative;
  z-index: 2;
}

.home h1 {
  color: #333;
  margin-bottom: 30px;
  font-size: 2.5rem; /* Tamaño de fuente responsivo */
}

.input-container {
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  margin-bottom: 20px;
}

.input-container input {
  width: 90%; /* Reduce el ancho del campo de entrada */
  padding: 15px; /* Mantiene el padding para hacerlo cómodo */
  font-size: 1.2rem; /* Tamaño de fuente responsivo */
  border: 2px solid #333; /* Mantiene el borde visible */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Mantiene el contorno exterior */
}

.button-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se ajusten en pantallas más pequeñas */
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px; /* Añade separación entre los botones */
}

.difficulty-button {
  padding: 10px 20px;
  font-size: 1rem; /* Tamaño de fuente responsivo */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.difficulty-button.easy {
  background-color: #4CAF50;
  color: white;
}

.difficulty-button.medium {
  background-color: #FFC107;
  color: black;
}

.difficulty-button.hard {
  background-color: #F44336;
  color: white;
}

.generate-button, .progress-button {
  padding: 10px 20px;
  font-size: 1rem; /* Tamaño de fuente responsivo */
  background-color: var(--primary-blue); /* Azul original */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}

.generate-button:disabled {
  background-color: #999; /* Gris más oscuro */
  cursor: not-allowed;
}

.generate-button:hover:not(:disabled) {
  background-color: #3a7bd5; /* Azul oscuro al pasar el cursor */
}

.progress-button:hover {
  background-color: #3a7bd5; /* Azul oscuro al pasar el cursor */
}

.error-message {
  color: red;
  font-size: 28px; /* Aumenta el tamaño de la fuente del mensaje de error */
  margin-top: 10px;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .home h1 {
    font-size: 2rem; /* Reduce el tamaño del título en pantallas pequeñas */
  }

  .input-container input {
    width: 95%; /* Aumenta el ancho en pantallas pequeñas */
  }

  .difficulty-button {
    flex: 1 1 30%; /* Permite que los botones se ajusten */
    margin: 5px; /* Espaciado entre botones */
  }
}
