.summary {
  position: relative;
  background-image: url('../assets/summaryImage.png'); /* Ruta a la imagen */
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.summary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6); /* Superposición con un poco de color */
  z-index: 1;
}

.summary > * {
  position: relative;
  z-index: 2;
}

.summary h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.summary p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.summary button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--primary-blue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.summary button:hover {
  background-color: #3a7bd5;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .summary h2 {
    font-size: 2rem;
  }

  .summary p {
    font-size: 1rem;
  }
}
